<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <title>Desty mobile app!</title>
</head>

<body>
  <div class="container">
    <div class="column-wrapper">
      <div class="red">
        <img src="images/logo.png" />
      </div>
      <div class="desc">
        <p>Nie masz z kim grać w planszówki? Ta aplikacja pomoże w znalezieniu kompanów do wspólnej rozgrywki. Wystarczy założyć konto i stworzyć własne wydarzenie :) </p>
      </div>
      <div class="blue">
        <a href="https://play.google.com/store/apps/details?id=com.project.flutter.desty" target="_blank">
          <img src="images/google.png" />
        </a>
        <img class="qr" src="images/qr.png" />
      </div>
    </div>
    <div class="green">
      <img src="images/phones.png" />
    </div>
  </div>
  <footer>
    <p>© 2020 Desty Team<p>
  </footer>
</body>

</html>
